/* =======================================================================
## ++ Globals
========================================================================== */
html{
    font-size: 100%;
}

body{
    -webkit-font-smoothing: antialiased;
    padding:60px 0;
}

*{
    box-sizing:border-box;
}

.movie-item{
    border-bottom:1px solid #ccc;
    margin-bottom: 20px;
    padding:10px;

    img{
        max-width: 100%;
        height:auto;
    }

    h4{
        margin-top: 0;
    }
}

.filter{
    padding: 40px;
    background: #efefef;
    margin-bottom:40px;
}


/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
 height: 1%;
 overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
 min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

.clr{clear:both;}





