<!DOCTYPE html>
<html>
<head>
    <title>Movies App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="container" id="app">
    <div class="filter">
        <input type="text" class="form-control" v-model="liveFilter">
        <h4>Filter by Genre:</h4>
        <div class="row">
            <div class="col-md-6">
                <select name="" id="" class="form-control" v-model="genreFilter" >
                    <option value="">All</option>
                    <option value="{{ genre.title }}" v-for="genre in genres">{{ genre.title }}</option>
                </select>
            </div>
        </div>
    </div>

    <div v-for="movie in movies | filterBy liveFilter | filterBy genreFilter" class="row movie-item">
        <div class="col-md-1 pull">
            <img class="img-responsive" v-bind:src="movie.uri">
        </div>
        <div class="col-md-10">
            <h4><a v-on:click="getTheMovie(movie.nid)">{{ movie.title }}</a></h4>
            <p>
                <strong>Director:</strong> {{ movie.field_director }}
            </p>

            <strong>Actors:</strong><br>
            <span v-for="actor in movie.field_actors">
                {{ actor }}<br>
            </span>
            <hr>
            <strong>Genre:</strong>
            <span>
                {{ movie.field_genres }}
            </span>
        </div>
    </div>
</div>


<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/vue-resource.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>